<%- include("partials/header.ejs") %>
  <body class="text-gray-600">
    <!-- Page layout -->
    <div class="flex">
      <!-- Nav container -->
      <%- include("partials/nav_container.ejs") %>

      <!-- Workspace container -->
      <div class="bg-slate-200 h-screen w-full pt-10">
        <!-- Workspace title -->
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-6xl font-medium">Editing Class: <span><%= target.title %></span> </h1>
          <form
          action="/classes/edit"
          method="POST"
          class="flex space-x-4 items-center mt-10"
        >
        <input type="hidden" name="id" value="<%=target.id %>">
          <label for="title">Class name:</label>
          <input
            required
            id="title"
            value="<%= target.title %>"
            class="rounded-lg bg-slate-50 px-2"
            name="title"
            type="text"
          />
          <label for="start_time">Start time:</label>
          <input
            id="start_time"
            value="<%= new Date(target.start_time).toISOString().slice(0, 16) %>"
            required
            class="rounded-lg bg-slate-50 px-2"
            name="start_time"
            type="datetime-local"
          />
          <label for="end_time">End time:</label>
          <input
            id="end_time"
            value="<%= new Date(target.end_time).toISOString().slice(0, 16) %>"
            required
            class="rounded-lg bg-slate-50 px-2"
            name="end_time"
            type="datetime-local"
          />
          <input
            class="bg-slate-700/80 text-slate-100 py-1 px-4 rounded-lg font-medium shadow-lg"
            type="submit"
            value="Save"
          />
        </form>
         
        </div>

        

        
      </div>
    </div>

    <!-- form -->
    <!-- <div class="flex justify-center mt-5 pb-20">
      
    </div> -->

    
  </body>
</html>
